<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h1></h1>
    </div>
    <div class="panel-body">
      <table class="table-latitude">
        <caption>Produtos</caption>
        <thead>
          <th colspan="2">Id</th>
          <th colspan="3">Nome</th>
          <th colspan="2">Data de Cadastro</th>
          <th colspan="2">
          </th>
        </thead>
        <tfoot>
        <tr *ngIf="!produtoEditar">
          <th colspan="2"></th>
          <th colspan="3"><label><b>Inserir Produto</b></label></th>
          <th colspan="2"><input placeholder="Nome do Produto" [(ngModel)]="produto.nome"></th>
          <th colspan="2"><button class="button button-green button-hover" (click)="salvarProduto()">Salvar</button>
            <button class="button button-red button-hover" (click)="cancelar()">Cancelar</button></th>
        </tr>

        <tr *ngIf="produtoEditar">
            <th colspan="2"><label><b>Editar</b></label></th>
            <th colspan="3"><label><b>Alterar Nome</b></label></th>
            <th colspan="2"><input [(ngModel)]="produto.nome"></th>
            <th colspan="2"><button class="button button-green button-hover" (click)="editarProduto()">Salvar</button>
              <button class="button button-red button-hover" (click)="cancelar()">Cancelar</button></th>
          </tr>
        </tfoot>
        <tbody >
          <tr *ngFor="let rowData of produtos">
            <th colspan="2">{{rowData.id}}</th>
            <th colspan="3">{{rowData.nome}}</th>
            <th colspan="2">{{rowData.dataCadastro | date:'dd/MM/yyyy'}}</th>
            <td colspan="2">
              <button class="button button-blue button-hover" (click)="campoEditar(rowData)">Editar</button>
              <button class="button button-red button-hover" (click)="deletarProduto(rowData.id)">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
